<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/Palette.exsd"/>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.sii.rental.ui.CustomerSelected">
         <instanceof
               value="com.opcoach.training.rental.Customer">
         </instanceof>
      </definition>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            name="Colors"
            class="com.sii.rental.ui.prefs.RentalColorPage"
            id="com.sii.rental.ui.pagecolor">
      </page>
      <page
            class="com.sii.rental.ui.prefs.RentalPalettePreferences"
            id="com.sii.rental.ui.page1"
            name="palette">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sii.rental.ui.prefs.RentalPrefInitializer">
      </initializer>
   </extension>
   <extension
         id="com.sii.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.sii.rental.ui.palette">
      <palette
            id="com.sii.rental.ui.palette5.Default"
            name="Default"
            paletteClass="com.sii.rental.ui.palette.DefaultPalette">
      </palette>
      <palette
            id="com.sii.rental.ui.palette6"
            name="PaletteMoche"
            paletteClass="com.sii.rental.ui.PaletteMoche">
      </palette>
   </extension>

</plugin>
